<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.0.123" targetFramework="net461" />
  <package id="Font.Awesome" version="5.15.4" targetFramework="net461" />
  <package id="FontAwesome.Sharp" version="6.1.1" targetFramework="net461" />
  <package id="MaterialSkin.Updated" version="0.2.2" targetFramework="net461" />
</packages>